<header>
  <h1>Tabela update</h1>
  <button mat-raised-button id="btn-enviar"
  color="primary"
  (click)="enviarDados()">Enviar</button>
</header>
  
<table mat-table
  [dataSource]="dataSource"
  class="mat-elevation-z8 ">

  <!-- Checkbox Column -->
  <ng-container matColumnDef="select"
    sticky>
    <th mat-header-cell
      *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
        [checked]="selection?.hasValue() && isAllSelected()"
        [indeterminate]="selection?.hasValue() && !isAllSelected()"
        [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </th>
    <td mat-cell
      *matCellDef="let row; let i = index">
      <mat-checkbox (click)="alteraCnj(selection, row, i)"
        (change)="$event ? selection.toggle(row) : null"
        [checked]="selection.isSelected(row)"
        [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="position"
    sticky>
    <th mat-header-cell
      *matHeaderCellDef> No. </th>
    <td mat-cell
      *matCellDef="let element; let i = index">{{i+1}}</td>
  </ng-container>

  <!-- CNJ Column -->
  <ng-container matColumnDef="cnj">
    <th mat-header-cell
      *matHeaderCellDef> CNJ </th>
    <td mat-cell
      *matCellDef="let element"> {{element.cnj}} </td>
  </ng-container>

  <!-- Pre Cadastro Column -->
  <ng-container matColumnDef="cd_pre_cadastro">
    <th mat-header-cell
      *matHeaderCellDef> Pre Cadastro </th>
    <td mat-cell
      *matCellDef="let element"> {{element.cd_pre_cadastro}} </td>
  </ng-container>

  <!-- Vara Column -->
  <ng-container matColumnDef="vara">
    <th mat-header-cell
      *matHeaderCellDef> Vara </th>
    <td mat-cell
      *matCellDef="let element"
      [ngClass]="{'alterado': element.vara_alterado }"
      contenteditable
      [textContent]="element.vara" (input)="element.vara=$event.target.textContent">
      {{element.vara}} </td>
  </ng-container>

  <!-- Forum Column -->
  <ng-container matColumnDef="forum">
    <th mat-header-cell
      *matHeaderCellDef> Forum </th>
    <td mat-cell
      *matCellDef="let element"
      [ngClass]="{'alterado': element.forum_alterado }"
      contenteditable
      [textContent]="element.forum" (input)="element.forum=$event.target.textContent"> 
      {{element.forum}} </td>
  </ng-container>

  <!-- UF Column -->
  <ng-container matColumnDef="uf">
    <th mat-header-cell
      *matHeaderCellDef> UF </th>
    <td mat-cell
      *matCellDef="let element"
      [ngClass]="{'alterado': element.uf_alterado }">
      <mat-form-field>
        <select matNativeControl (change)="element.uf=$event.target.value">
          <option *ngFor="let estado of estados"
            [selected]="estado.sigla ===  element.uf"
            [value]="estado.sigla">{{estado.sigla}}</option>
        </select>
      </mat-form-field>
    </td>
  </ng-container>

  <!-- Autores Column -->
  <ng-container matColumnDef="autores">
    <th mat-header-cell
      *matHeaderCellDef> Autores </th>
    <td mat-cell
      *matCellDef="let element; let i = index"> 
      <button mat-raised-button
        color="{{corBotaoConsulta('autores', i)}}"
        (click)="exibeAutores(i)">Consultar</button>
    </td>
  </ng-container>

  <!-- Reus Column -->
  <ng-container matColumnDef="reus">
    <th mat-header-cell
      *matHeaderCellDef> Reus </th>
    <td mat-cell
      *matCellDef="let element; let i = index"> 
      <button mat-raised-button
        color="{{corBotaoConsulta('reus', i)}}"
        (click)="exibeReus(i)">Consultar</button> </td>
  </ng-container>

  <!-- Eletronico Column -->
  <ng-container matColumnDef="eletronico">
    <th mat-header-cell
      *matHeaderCellDef> Eletronico </th>
    <td mat-cell
      *matCellDef="let element">
      <!-- {{element.eletronico}}  -->
      <mat-slide-toggle [checked]="element.eletronico"
        [ngClass]="{'alterado': element.eletronico && element.eletronico_alterado }"
        (change)="element.eletronico = !element.eletronico"> </mat-slide-toggle>
      {{element.eletronico}}
    </td>
  </ng-container>

  <!-- Tipo Eletronico Column -->
  <ng-container matColumnDef="tipo_eletronico">
    <th mat-header-cell
      *matHeaderCellDef> Tipo Eletronico </th>
    <td mat-cell
      *matCellDef="let element"
      [ngClass]="{'alterado': element.tipo_eletronico_alterado }"> {{element.tipo_eletronico}} </td>
  </ng-container>

  <!-- Audiencia Cadastro Column -->
  <ng-container matColumnDef="audiencia">
    <th mat-header-cell
      *matHeaderCellDef> Audiencia </th>
    <td mat-cell
      *matCellDef="let element">
      <!-- {{element.audiencia}}  -->
      <mat-slide-toggle [checked]="element.audiencia"
        [ngClass]="{'alterado': element.audiencia && element.audiencia_alterado }"
        (change)="element.audiencia = !element.audiencia"> </mat-slide-toggle>
    </td>
  </ng-container>

  <!-- Data Audiencia Column -->
  <ng-container matColumnDef="data_audiencia">
    <th mat-header-cell
      *matHeaderCellDef> Data Audiencia </th>
    <td mat-cell
      *matCellDef="let element"
      [ngClass]="{'alterado': element.data_audiencia_alterado }"
      contenteditable
      [textContent]="element.data_audiencia" (input)="element.data_audiencia=$event.target.textContent"> {{element.data_audiencia}} </td>
  </ng-container>

  <!-- Status Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell
      *matHeaderCellDef> Status </th>
    <td mat-cell
      *matCellDef="let element"
      [ngClass]="{'alterado': element.status_alterado }">
      <mat-form-field>
        <select matNativeControl (change)="element.status=$event.target.value">
          <option *ngFor="let status of statusArray"
            [value]="status">{{status}}</option>
        </select>
      </mat-form-field>
    </td>
  </ng-container>

  <!-- Obs Column -->
  <ng-container matColumnDef="obs">
    <th mat-header-cell
      *matHeaderCellDef> Obs </th>
    <td mat-cell
      *matCellDef="let element"
      [ngClass]="{'alterado': element.obs_alterado }"
      contenteditable
      [textContent]="element.obs" (input)="element.obs=$event.target.textContent"> {{element.obs}} </td>
  </ng-container>

  <!-- Liminar Column -->
  <ng-container matColumnDef="liminar">
    <th mat-header-cell
      *matHeaderCellDef> Liminar </th>
    <td mat-cell
      *matCellDef="let element">
      <!-- {{element.liminar}}  -->
      <mat-slide-toggle [checked]="element.liminar"
        [ngClass]="{'alterado': element.liminar && element.liminar_alterado }"
        (change)="element.liminar = !element.liminar"> </mat-slide-toggle>
    </td>
  </ng-container>

  <!-- Teor Column -->
  <ng-container matColumnDef="teor">
    <th mat-header-cell
      *matHeaderCellDef> Teor </th>
    <td mat-cell
      *matCellDef="let element"
      [ngClass]="{'alterado': element.teor_alterado }"
      contenteditable
      [textContent]="element.teor" (input)="element.teor=$event.target.textContent"> {{element.teor}} </td>
  </ng-container>

  <!-- Possui Arquivo Column -->
  <ng-container matColumnDef="possui_arquivos">
    <th mat-header-cell
      *matHeaderCellDef> Possui Arquivo </th>
    <td mat-cell
      *matCellDef="let element">
      <mat-slide-toggle [checked]="element.possui_arquivos"
        [ngClass]="{'alterado': element.possui_arquivos && element.possui_arquivos_alterado }"
        (change)="element.possui_arquivos = !element.possui_arquivos"> </mat-slide-toggle>
    </td>
  </ng-container>

  <!-- Segredo Justica Column -->
  <ng-container matColumnDef="segredo_justica">
    <th mat-header-cell
      *matHeaderCellDef> Segredo Justica </th>
    <td mat-cell
      *matCellDef="let element">
      <mat-slide-toggle [checked]="element.segredo_justica"
        [ngClass]="{'alterado': element.segredo_justica && element.segredo_justica_alterado }"
        (change)="element.segredo_justica = !element.segredo_justica"> </mat-slide-toggle>
    </td>
  </ng-container>

  <tr mat-header-row
    *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row
    *matRowDef="let row; columns: displayedColumns;">
  </tr>
</table>
